        <!-- breadcrumb begin -->
<div class="breadcrumb-bettix contact-page">
    <div class="container">
        <div class="row">
            <div class="col-xl-7 col-lg-7">
                <div class="breadcrumb-content">
                    <h2>Contact</h2>
                    <ul>
                        <li>
                            <a asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li>
                            Contact
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- breadcrumb end -->
<!-- contact begin -->
<div class="contact">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-6 col-lg-6 col-md-8">
                <div class="section-title">
                    <h2>Get In Touch</h2>
                    <p>NDTops is the most advanced sports trading & game prediction platform. Feel free to contact us.</p>
                </div>
            </div>
        </div>
        <div class="row no-gutters">
            <div class="col-xl-8 col-lg-8 col-md-7">
                <div class="contact-form">
                    <form>
                        <div class="row">
                            <div class="col-xl-6 col-lg-6">
                                <label for="fullName">Full Name</label>
                                <input type="text" id="fullName" placeholder="Full name">
                            </div>
                            <div class="col-xl-6 col-lg-6">
                                <label for="phoneNo">Phone No</label>
                                <input type="text" id="phoneNo" placeholder="xxx xxx xxx">
                            </div>
                            <div class="col-xl-6 col-lg-6">
                                <label for="emailAdd">Email</label>
                                <input type="text" id="emailAdd" placeholder="youremail@gmaiil.com">
                            </div>
                            <div class="col-xl-6 col-lg-6">
                                <label for="mailSubject">Subject</label>
                                <input type="text" id="mailSubject" placeholder="Subject">
                            </div>
                        </div>
                        <label for="yourMessage">Subject</label>
                        <textarea id="yourMessage" placeholder="Text"></textarea>
                        <button class="submit-btn">Submit</button>
                    </form>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-5">
                <div class="contact-information">
                    <div class="about-site">
                        <img src="assets/img/logo.png" alt="" class="logo">
                        <p>NDTips offers you all the best online betting from every corner of the planet.</p>
                    </div>
                    <ul class="info-list">
                        <li>
                            <span class="icon">
                                <i class="fas fa-map-marker-alt"></i>
                            </span>
                            <span class="text">
                                Bulgaria
                            </span>
                        </li>
                        <li>
                            <span class="icon">
                                <i class="far fa-envelope"></i>
                            </span>
                            <span class="text">
                                ndtips@gmail.com
                            </span>
                        </li>
                        <li>
                            <span class="icon">
                                <i class="fas fa-globe"></i>
                            </span>
                            <span class="text">
                                ndtips.com
                            </span>
                        </li>
                    </ul>
                    <ul class="social-link">
                        <li>
                            <a href="https://www.facebook.com/NDTops">
                                <i class="fab fa-facebook-f"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.instagram.com/ndtips/">
                                <i class="fab fa-instagram"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.telegram.org/ndtips/">
                                <i class="fab fa-telegram"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- contact end -->