@model MySportTips.Web.ViewModels.Home.ContactUsInputModel
@{
    ViewData["Title"] = "Contact Us";
}
<!-- breadcrumb begin -->
<div class="breadcrumb-bettix contact-page">
    <div class="container">
        <div class="row">
            <div class="col-xl-7 col-lg-7">
                <div class="breadcrumb-content">
                    <h2>Contact</h2>
                    <ul>
                        <li>
                            <a asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li>
                            Contact
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- breadcrumb end -->
<!-- contact begin -->
<div class="contact">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-6 col-lg-6 col-md-8">
                <div class="section-title">
                    <h2>Get In Touch</h2>
                    <p>NDTips is the most advanced sports trading & game prediction platform. Feel free to contact us.</p>
                </div>
            </div>
        </div>
        <div class="row no-gutters">
            <div class="col-xl-8 col-lg-8 col-md-7">
                <div class="contact-form">
                    <form method="post" asp-action="ContactUs" enctype="multipart/form-data">
                        <div class="row">
                            <div asp-validation-summary="All" class="text-danger"></div>
                            <div class="col-xl-6 col-lg-6">
                                <label asp-for="FullName">Full Name</label>
                                <input type="text" asp-for="FullName" placeholder="Full name">
                                <span asp-validation-for="FullName" class="text-danger"></span>
                            </div>
                            <div class="col-xl-6 col-lg-6">
                                <label asp-for="PhoneNum">Phone No</label>
                                <input type="text" asp-for="PhoneNum" placeholder="xxx xxx xxx">
                                <span asp-validation-for="PhoneNum" class="text-danger"></span>
                            </div>
                            <div class="col-xl-6 col-lg-6">
                                <label asp-for="Email">Email</label>
                                <input type="text" asp-for="Email" placeholder="youremail@gmaiil.com">
                                <span asp-validation-for="Email" class="text-danger"></span>
                            </div>
                            <div class="col-xl-6 col-lg-6">
                                <label asp-for="SubjectLine">Subject</label>
                                <input type="text" asp-for="SubjectLine" placeholder="Subject line">
                                <span asp-validation-for="SubjectLine" class="text-danger"></span>
                            </div>
                        </div>
                        <label asp-for="Content">Content</label>
                        <textarea type="text" asp-for="Content" placeholder="Content"></textarea>
                        <span asp-validation-for="Content" class="text-danger"></span>
                        <button class="submit-btn">Submit</button>
                    </form>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-5">
                <div class="contact-information">
                    <div class="about-site">
                        <img src="assets/img/logo.png" alt="" class="logo">
                        <p>NDTips offers you all the best online betting from every corner of the planet.</p>
                    </div>
                    <ul class="info-list">
                        <li>
                            <span class="icon">
                                <i class="fas fa-map-marker-alt"></i>
                            </span>
                            <span class="text">
                                Bulgaria
                            </span>
                        </li>
                        <li>
                            <span class="icon">
                                <i class="far fa-envelope"></i>
                            </span>
                            <span class="text">
                                ndtips@gmail.com
                            </span>
                        </li>
                        <li>
                            <span class="icon">
                                <i class="fas fa-globe"></i>
                            </span>
                            <span class="text">
                                ndtips.com
                            </span>
                        </li>
                    </ul>
                    <ul class="social-link">
                        <li>
                            <a href="https://www.facebook.com/NDTips">
                                <i class="fab fa-facebook-f"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.instagram.com/ndtips/">
                                <i class="fab fa-instagram"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.telegram.org/ndtips/">
                                <i class="fab fa-telegram"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- contact end -->