<!-- breadcrumb begin -->
<div class="breadcrumb-bettix blog-page">
    <div class="container">
        <div class="row">
            <div class="col-xl-7 col-lg-7">
                <div class="breadcrumb-content">
                    <h2>Subscription</h2>
                    <ul>
                        <li>
                            <a asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li>
                            Subscription
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- breadcrumb end -->

<!-- about begin -->
<div class="about">
    <div class="container">
        <div class="row no-gutters">
            <div class="col-xl-8 col-lg-8">
                <div class="part-img">
                    <img src="~/theme/assets/img/about.jpg" />
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 d-xl-flex d-lg-flex d-block align-items-center">
                <div>
                    <div class="part-text">
                        <h2>Our subscription</h2>
                        <p>The subscription of NDTips is on monthly bases and it costs 50 lv. For those money you will receive daily sport live/pre-match tips for the best competitions in Europe and rest of the World. Every tip is based on a statistic and you can read why we decided to bet on it. We guarantee 60%+ win. For more questions write is on Email, Facebook or Telegram.</p>
                    </div>
                    <a href="#" class="about-btn">Contact US</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- about end -->