@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}
<!-- breadcrumb begin -->
<div class="breadcrumb-bettix register-page">
    <div class="container">
        <div class="row">
            <div class="col-xl-7 col-lg-7">
                <div class="breadcrumb-content">
                    <h2>Login</h2>
                    <ul>
                        <li>
                            <a asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li>
                            Login
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- breadcrumb end -->
<!-- login begin -->
<div class="login">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-6 col-lg-6 col-md-8">
                <div class="section-title">
                    <h2>Login</h2>
                    <p>NDTips is the most advanced sports prediction website with high percentage of win rate.</p>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-xl-5 col-lg-5 col-md-6">
                <div class="login-form">
                    <section>
                        <form id="account" method="post">

                            <div asp-validation-summary="All" class="text-danger"></div>

                            <label asp-for="Input.Email"></label>
                            <input type="email" asp-for="Input.Email" placeholder="Enter Your Mail">
                            <span asp-validation-for="Input.Email" class="text-danger"></span>

                            <label asp-for="Input.Password"></label>
                            <input type="password"asp-for="Input.Password" placeholder="Enter Your Password">
                            <span asp-validation-for="Input.Password" class="text-danger"></span>

                            <div class="form-group">
                                <button type="submit" class="btn btn-primary">Log in</button>
                            </div>

                        </form>

                        <br />
                        <div class="form-group">
                            <p>
                                <a id="forgot-password" asp-page="./ForgotPassword">Forgot your password?</a>
                            </p>
                            <p>
                                <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Register as a new user</a>
                            </p>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- login end -->

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
