@using MySportTips.Common
@using MySportTips.Data.Models
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@this.ViewData["Title"] - @GlobalConstants.SystemName</title>
    <title> PerediOn - eSports Prediction HTML Template</title>
    <!-- favicon -->
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <!-- bootstrap -->
    <link rel="stylesheet" href="~/theme/assets/css/bootstrap.min.css">
    <!-- fontawesome icon  -->
    <link rel="stylesheet" href="~/theme/assets/css/fontawesome.min.css">
    <!-- flaticon css -->
    <link rel="stylesheet" href="~/theme/assets/fonts/flaticon.css">
    <!-- animate.css -->
    <link rel="stylesheet" href="~/theme/assets/css/animate.css">
    <!-- Owl Carousel -->
    <link rel="stylesheet" href="~/theme/assets/css/owl.carousel.min.css">
    <!-- magnific popup -->
    <link rel="stylesheet" href="~/theme/assets/css/magnific-popup.css">
    <link rel="stylesheet" href="~/theme/assets/css/odometer.min.css">
    <!-- stylesheet -->
    <link rel="stylesheet" href="~/theme/assets/css/style.css">
    <!-- responsive -->
    <link rel="stylesheet" href="~/theme/assets/css/responsive.css">
    <link rel="stylesheet" href="~/theme/assets/css/dashboard-responsive.css">
</head>
<body>
<!-- preloader begin -->
<div class="preloader">
    <img src="~/theme/assets/img/preloader.gif" alt="">
    <span>NDTips LOADING</span>
</div>
<!-- preloader end -->
<!-- header begin -->
<div class="header">
    <div class="header-top">
        <div class="container">
            <div class="row">
                <div class="col-xl-6 col-lg-6 col-sm-6">
                    <div class="left-area">
                        <ul>
                            <li>
                                <span class="icon">
                                    <i class="far fa-calendar-alt"></i>
                                </span>
                                <span class="text">
                                    <span id="date"></span>
                                    <span id="month"></span>
                                    <span id="year"></span>
                                </span>
                            </li>
                            <li>
                                <span class="icon">
                                    <i class="far fa-clock"></i>
                                </span>
                                <span class="text clocks">
                                    <span id="hours"></span>:<span id="minutes"></span>:<span id="seconds"></span>
                                </span>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6 col-sm-6">
                    <div class="right-area">
                        <ul>
                            <li>
                                <select>
                                    <option>EN</option>
                                </select>
                            </li>
                            <li>
                                <a class="link" asp-controller="Tips" asp-action="AllPastTips">
                                    <svg aria-hidden="true" focusable="false" data-prefix="fal" data-icon="dolly" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512" class="svg-inline--fa fa-dolly fa-w-18 fa-fw fa-2x"><path fill="currentColor" d="M575.6 309.8l-5.1-15.2c-1.4-4.2-5.9-6.5-10.1-5.1L526 301.1 451.5 77.9c-2.7-8.1-8.4-14.7-16-18.5-7.7-3.8-16.3-4.4-24.4-1.7L176.3 136l-18-50.7C146.9 53.3 116.7 32 82.8 32H8c-4.4 0-8 3.6-8 8v16c0 4.4 3.6 8 8 8h74.8c20.3 0 38.4 12.8 45.2 31.9l96.7 271.9c-23.3 17.2-37.2 46.5-31.4 78.9 5.6 31.3 30.4 57 61.5 63.5 51.7 10.7 97.2-28.4 97.2-78.2 0-13.1-3.4-25.2-9-36.1l227.5-76c4.2-1.4 6.5-5.9 5.1-10.1zM187 166.1l106.4-35.5 25 74.9c1.4 4.2 5.9 6.5 10.1 5.1l15.2-5.1c4.2-1.4 6.5-5.9 5.1-10.1l-25-74.9L421.2 88l74.5 223.3-174.4 58.1C307.6 358.7 290.7 352 272 352c-6.3 0-12.3.9-18.1 2.3L187 166.1zM272 480c-26.5 0-48-21.5-48-48s21.5-48 48-48 48 21.5 48 48-21.5 48-48 48z" class=""></path></svg>
                                    Past tips
                                </a>
                            </li>
                            @if (this.SignInManager.IsSignedIn(this.User))
                            {
                                <li>
                                    <a class="link" href="#">
                                        <svg aria-hidden="true" focusable="false" data-prefix="fal" data-icon="user-circle" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 496 512" class="svg-inline--fa fa-user-circle fa-w-16 fa-fw fa-2x"><path fill="currentColor" d="M248 8C111 8 0 119 0 256s111 248 248 248 248-111 248-248S385 8 248 8zm128 421.6c-35.9 26.5-80.1 42.4-128 42.4s-92.1-15.9-128-42.4V416c0-35.3 28.7-64 64-64 11.1 0 27.5 11.4 64 11.4 36.6 0 52.8-11.4 64-11.4 35.3 0 64 28.7 64 64v13.6zm30.6-27.5c-6.8-46.4-46.3-82.1-94.6-82.1-20.5 0-30.4 11.4-64 11.4S204.6 320 184 320c-48.3 0-87.8 35.7-94.6 82.1C53.9 363.6 32 312.4 32 256c0-119.1 96.9-216 216-216s216 96.9 216 216c0 56.4-21.9 107.6-57.4 146.1zM248 120c-48.6 0-88 39.4-88 88s39.4 88 88 88 88-39.4 88-88-39.4-88-88-88zm0 144c-30.9 0-56-25.1-56-56s25.1-56 56-56 56 25.1 56 56-25.1 56-56 56z" class=""></path></svg>
                                        Hi, @this.User.Identity.Name
                                    </a>
                                </li>
                            }
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <partial name="_LoginPartial"/>
</div>
<!-- header end -->
@*<div class="container col-md-12">*@
<partial name="_CookieConsentPartial"/>
<main role="main" class="pb-3">
    @this.RenderBody()
</main>
@*</div>*@


<!-- footer begin -->
<div class="footer" id="contact">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-xl-4 col-lg-5 col-md-10">
                <div class="about-widget">
                    <a class="logo" href="index.html">
                        <img src="~/theme/assets/img/Logo2.png"/>
                    </a>
                    <p>NDTops offers you all the best online prediction from every corner of the planet with thousands of online prediction markets.</p>
                    <div class="social">
                        <ul>
                            <li>
                                <a href="https://www.facebook.com/NDTips" class="social-icon">
                                    <i class="fab fa-facebook-f"></i>
                                </a>

                                <a href="https://www.instagram.com/ndtips/" class="social-icon">
                                    <i class="fab fa-instagram"></i>
                                </a>
                                <a href="https://www.telegram.org/ndtips/" class="social-icon">
                                    <i class="fab fa-telegram"></i>
                                </a>

                            </li>
                        </ul>
                    </div>
                    <div class="support">
                        <ul>
                            <li>
                                <span class="icon">
                                    <img src="~/theme/assets/img/svg/email.svg" alt="">
                                </span>
                                <span class="text">
                                    <span class="title">Mail Us</span>
                                    <span class="descr">ndtips@gmail.com</span>
                                </span>
                            </li>
                            <li>
                                <span class="icon">
                                    <img src="~/theme/assets/img/svg/phone-call.svg" alt="">
                                </span>
                                <span class="text">
                                    <span class="title">Get In Touch</span>
                                    <span class="descr">+359888888999</span>
                                </span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-xl-2 col-lg-2 col-md-3">
                <div class="useful-links">
                    <h3>Useful links</h3>
                    <ul>
                        <li>
                            <a class="dropdown-item" asp-controller="Tips" asp-action="AllPastTips">Past tips</a>
                        </li>
                        <li>
                            <a class="dropdown-item" asp-controller="Tips" asp-action="AllCurrentTips">Current tips</a>
                        </li>
                        <li>
                            <a class="nav-link" asp-controller="Games" asp-action="AllGames">Schedule</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-xl-2 col-lg-3 col-md-3">
                <div class="useful-links">
                    <h3>Connect With Us</h3>
                    <ul>
                        <li>
                            <a href="#">About Us</a>
                        </li>
                        <li>
                            <a class="nav-link" asp-controller="Home" asp-action="ContactUs">Contact US</a>
                        </li>
                        @*<li>
                                <a class="nav-link" asp-controller="Home" asp-action="Subscribe">Subscription</a>
                            </li>*@
                    </ul>
                </div>
            </div>
            <div class="col-xl-2 col-lg-2 col-md-3">
                <div class="useful-links">
                    <h3>Sport tips on</h3>
                    <ul>
                        <li>
                            <a href="#">FOOTBALL</a>
                        </li>
                        <li>
                            <a href="#">TENNIS</a>
                        </li>
                        <li>
                            <a href="#">BASKETBALL</a>
                        </li>
                        <li>
                            <a href="#">ICE HOCKEY</a>
                        </li>
                        <li>
                            <a href="#">VOLLEYBALL</a>
                        </li>
                        <li>
                            <a href="#">BADMINTON</a>
                        </li>
                        <li>
                            <a href="#">BASEBALL</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12 col-lg-12">
                        <div class="payment-method">
                            <h6 class="payment-method-title">
                                Write us and subscribe for NDTips
                            </h6>
                            <div class="all-method">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- footer end -->

<!-- jquery -->
<!-- <script src="assets/js/jquery.js"></script> -->
<script src="~/theme/assets/js/jquery-3.4.1.min.js"></script>
<!-- bootstrap -->
<script src="~/theme/assets/js/bootstrap.min.js"></script>
<!-- owl carousel -->
<script src="~/theme/assets/js/owl.carousel.js"></script>
<!-- magnific popup -->
<script src="~/theme/assets/js/jquery.magnific-popup.js"></script>
<!-- filterizr js -->
<script src="~/theme/assets/js/jquery.filterizr.min.js"></script>
<!-- wow js-->
<script src="~/theme/assets/js/wow.min.js"></script>
<!-- clock js -->
<script src="~/theme/assets/js/clock.min.js"></script>
<script src="~/theme/assets/js/jquery.appear.min.js"></script>
<script src="~/theme/assets/js/odometer.min.js"></script>
<!-- chart js -->
<script src="~/theme/assets/js/Chart.min.js"></script>
<script src="~/theme/assets/js/chart-activate.js"></script>
<script src="~/theme/assets/js/utils.js"></script>
<!-- main -->
<script src="~/theme/assets/js/main.js"></script>
@await this.RenderSectionAsync("Scripts", required: false)
</body>
</html>
