@using MySportTips.Common
@using MySportTips.Data.Models
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<div id="navbar" class="header-bottom">
    <div class="container">
        <div class="row">
            <div class="col-xl-3 col-lg-3 d-xl-flex d-lg-flex d-block align-items-center">
                <div class="row">
                    <div class="col-xl-12 col-lg-12 col-6 d-xl-block d-lg-block d-flex align-items-center">
                        <div class="logo">
                            <a asp-controller="Home" asp-action="Index">
                                <img src="~/theme/assets/img/Logo2.png" alt="logo">
                            </a>
                        </div>
                    </div>
                    <div class="col-6 d-xl-none d-lg-none d-block">
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                            <i class="fas fa-bars"></i>
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-xl-9 col-lg-9">
                <div class="mainmenu">
                    <nav class="navbar navbar-expand-lg">
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav ml-auto">
                                <li class="nav-item">
                                    <a class="nav-link" asp-controller="Home" asp-action="Index">Home</a>
                                </li>
                                @if (this.SignInManager.IsSignedIn(this.User))
                                {
                                    <li class="nav-item dropdown">
                                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            Tips
                                        </a>
                                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                            <a class="dropdown-item" asp-area="" asp-controller="Tips" asp-action="AllCurrentTips">Current tips</a>
                                            <a class="dropdown-item" asp-area="" asp-controller="Tips" asp-action="AllPastTips">Past tips</a>
                                        </div>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" asp-controller="Games" asp-action="AllGames">Schedule</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" asp-area="" asp-controller="Home" asp-action="ContactUs">Contact US</a>
                                    </li>
                                    @if (this.User.IsInRole(GlobalConstants.AdministratorRoleName))
                                    {
                                        <li class="nav-item dropdown">
                                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown3" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                Admin menu
                                            </a>
                                            <div class="dropdown-menu" aria-labelledby="navbarDropdown3">
                                                <a class="dropdown-item" asp-controller="Games" asp-action="AddGame">Add game</a>
                                                <a class="dropdown-item" asp-controller="Games" asp-action="AllGames">All games</a>
                                                <a class="dropdown-item" asp-controller="Tips" asp-action="AllTips">All tips</a>
                                                <a class="dropdown-item" asp-controller="Users" asp-action="ListUsers">List users</a>
                                            </div>
                                        </li>
                                    }
                                }
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown3" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Profile
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="navbarDropdown3">
                                        @if (!this.SignInManager.IsSignedIn(this.User))
                                        {
                                            <a class="dropdown-item" asp-area="Identity" asp-page="/Account/Login">Login</a>
                                            <a class="dropdown-item" asp-area="Identity" asp-page="/Account/Register">Register</a>
                                        }
                                        else
                                        {
                                            <a class="dropdown-item" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@this.Url.Action("Index", "Home", new {area = string.Empty})">Logout</a>
                                        }
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>